{
  "baseUrl": "http://127.0.0.1:3000",
  "defaults": {
    "projectId": "project_123",
    "pageSize": 20,
    "recordStatus": "in_progress"
  },
  "auth": {
    "roleKeyEnv": "INFO_ROLE_KEY",
    "adminKeyEnv": "INFO_ADMIN_KEY"
  },
  "ssl": {
    "certificatePath": "./certs/fullchain.pem",
    "privateKeyPath": "./certs/privkey.pem"
  },
  "timeouts": {
    "requestMs": 15000
  }
}
